<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SimpleSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:44336/Simple.asmx" binding="basicHttpBinding"
                bindingConfiguration="SimpleSoap" contract="WS.SimpleSoap"
                name="SimpleSoap" />
        </client>
    </system.serviceModel>
</configuration>